body {
  font-family: 'IBM Plex Sans', sans-serif;
  margin: auto;
}

img {
  max-width: 100%;
}



h1 {
  text-align: center;
  color: #7b01be;
  font-size: 50px;
  line-height: 30px;
  letter-spacing: 5px;
}

p {
  text-align: center;
  color: rgba(0,0,0,.84);
}

p.bold {
  font-weight: bold;
}

p.head {
  font-size: 20px;
  font-weight: 600;
  line-height: 0px;
  letter-spacing: 3px;

}

p.small {

  font-size: 15px;
  color: rgba(0,0,0,.54);
  /* line-height: 0px; */
}

span {
  margin-left: 20px;
}

.column {
  width: 100%;
  float: left;
  box-sizing: border-box;
  /* position: center; */
  /* margin-top: 80px; */
  position: relative;
  left: 26%;
}

.two {
  width: 10%;
}

.row
{
    display: table;
    width: 100%; /*Optional*/
}


/* Parallax */
.header-box {
  color: #fff;
  position: relative;
  height: 600px;
  background-image: url("source/header.jpg");
  background-size: contain;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}



.header-txt {
  height: 260px;
  width: 100%;
  /* background-color: pink; */
  background-image: url("source/text.png");
  /* background-position: center; */
  background-repeat: no-repeat;
  position: absolute;
  left: 40%;
  margin-left: -200px;
  top: 50%;
  margin-top: -130px;

}

.cell1 {
  width: 360px;
  height: 420px;
  /* background-color: pink; */
  background-image: url("source/1.png");
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -550px;

}

.cell2 {
  width: 209px;
  height: 387px;
  /* background-color: pink; */
  background-image: url("source/2.png");
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -120px;
}

.cell3 {
  width: 461px;
  height: 511px;
  /* background-color: pink; */
  background-image: url("source/3.png");
  position: absolute;
  left: 100%;
  top: 70px;
  margin-left: -430px;
}

.cell4 {
  width: 225px;
  height: 186px;
  /* background-color: pink; */
  background-image: url("source/4.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  top: 30px;
}


.dna {
  width: 385px;
  height: 410px;
  /* background-color: pink; */
  background-image: url("source/dna.png");
  position: absolute;
  left: 50%;
  margin-left: 30px;
  top: 50%;
  margin-top: -230px;
}

.center-box {
  color: #fff;
  position: relative;
  height: 200px;
  background-image: url("source/header.jpg");
  background-size: contain;
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  overflow: hidden;
}

.cell-cen1 {
  width: 360px;
  height: 420px;
  /* background-color: pink; */
  background-image: url("source/1.png");
  position: absolute;
  top: 50%;
  margin-top: -100px;
  left: 50%;
  margin-left: -550px;

}

.cell-cen2 {
  width: 209px;
  height: 387px;
  /* background-color: pink; */
  background-image: url("source/2.png");
  position: absolute;
  left: 50%;
  top: 40px;
  margin-left: -120px;
}

.cell-cen3 {
  width: 461px;
  height: 511px;
  /* background-color: pink; */
  background-image: url("source/3.png");
  position: absolute;
  left: 100%;
  top: 70px;
  margin-left: -430px;
}

.cell-cen4 {
  width: 225px;
  height: 186px;
  /* background-color: pink; */
  background-image: url("source/4.png");
  background-repeat: no-repeat;
  position: absolute;
  left: 20px;
  top: 30px;
}

/* icon */

.icon {
  padding: 80px;
  position: relative;
  height: 500px;
  /* background-image: url("source/pattern.png"); */
  /* background-color: #fff; */
  overflow: hidden;
  margin-bottom: 100px;
}

.icon figure {
  margin-bottom: 20px;
  position: relative;
}

/* start */
.start {
  position: relative;
  height: 230px;
  background-color: #fff;
  padding: 50px 0 50px 50px;
  text-align: center;
  /* margin-bottom: 30px; */

}

/* use */
.use {
  position: relative;
  /* height: 230px; */
  background-color: rgb(250, 250, 250);
  padding: 50px 0 50px 50px;
  text-align: center;
  /* margin-bottom: 30px; */

}


/* example */

.content {
  text-align: center;
  padding: 80px;
  background-color: #fff;
  position: relative;
  height: 630px;
  overflow: hidden;
  margin-bottom: 25px;
}

.btn {
  background: none;
  /* background-image: linear-gradient(to right, #b67aeb, #ecb7d4); */
  color: #1cbde7;
  width: 150px;
  height: 40px;
  border: 1px #1cbde7 solid;
  border-radius: 20px;
  font-size: 14px;
  transition: .4s;
  overflow: hidden;
}

.btn:focus {
  outline: none;
}

.btn:hover {
  background: #1cbde7;
  color: #fff;
  cursor: pointer;
}



.ex {
  position: relative;
  height: 1340px;
  background-color: rgb(250, 250, 250);
  padding: 80px 0 80px 50px;
  /* margin-bottom: 30px; */

}

.ex-img {
  margin-left: 30px;
  height: 716px;
  background-image: url("source/ex.png");
  background-position: top center;
  background-attachment: fixed;
  background-repeat: no-repeat;
  /* border-radius: 200%; */
}

.card {
  position: relative;
  width: 40%;
  height: 300px;
  float: left;
  background-color: #fff;
  /* margin-right: 20px; */
  margin-left: 80px;
  margin-top: 10px;
}

.footer-box {
  /* color: #fff; */
  position: relative;
  /* height: 450px; */
  /* background-image: url("source/header.jpg"); */
  background-color: rgba(0,0,0,.84);
  padding-top: 50px;
  padding-bottom: 50px;
  padding-left: 40px;
}

.footer-head {
  color: rgba(255,255,255,.85);
  font-weight: 600!important;
  font-size: 21px!important;
  line-height: 24px!important;
  letter-spacing: 0.8px;
}

.footer-small {
  color: rgba(255,255,255,.5);
  margin-top: 15px;
  line-height: 24px!important;
  font-size:16px;
  letter-spacing: 0.28px;

}

.foot-card {
  display: inline;
  /* background-color: #fff; */
  width: 30%;


  /* float: left; */
}

.chk {
  margin-top: 35px;
  margin-left: 35px;
}

.mar {
  padding-top: 30px;
  /* padding-bottom: 50px; */
  padding-left: 30px;
}

.menu {
  list-style: none;
  margin: 0;
  padding: 0;
  width: 50%;
  height: 120px;
  margin: auto;
  position: relative;
  z-index: 7;
  cursor: pointer;
}

.menu li {
 float: left;
 width: 25%;
 height: 100%;
 margin: 0;
 padding: 0;
 cursor: pointer;
}

.menu a {
  display: flex;
  width: 100%;
  height: 100%;
  justify-content: center;
  align-items: center;
  color: #fff;
  text-decoration: none;
  position: relative;
  /* font-size: 18px; */
  z-index: 9;
  cursor: pointer;
}

.container {
  position: absolute;
  top:7%;
  left:77%;
  /* margin-left: -65px; */
  /* margin-top: -20px; */
  width: 130px;
  height: 40px;
  text-align: center;
}

button {
  outline:none;
  height: 40px;
  text-align: center;
  width: 200px;
  border-radius: 20px;
  background: #1cbde7;
  border: 2px solid #1cbde7;
  color: #fff;
  /* letter-spacing:1px; */
  /* text-shadow:0; */
  cursor: pointer;
  transition: .4s;
}

button:hover {
  color: white;
  background: #ff4dc4;
  border: 2px solid #ff4dc4;
}

button:active {
  /* //letter-spacing: 2px; */
  letter-spacing: 2px ;
}

#step {
  margin: 50px;
  position: relative;
  left: 25%;
  border: 1px solid #1cbde7;
  width: 700px;
  height: 100%;
  /* background-color: #fff; */
  padding: 30px;
  text-align: left;
}
