<div class="container">
    <div class="form-group">
        <label for="jobname">Text:</label>
        <input type="text" class="form-control col-3" id="jobname" ng-change="changeName()" ng-model="jobname">
    </div>
</div>
<div id="chartContainer2" ng-controller="chartController2" data-ng-init="init()" style="height: 300px; width: 80%;"></div>

