.ng-scope {
    margin: 50px;
}
.nav {
    margin: 25px;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    padding-left: 0;
    margin-bottom: 0;
    list-style: none;
    background-color: #D5F5E3;
}
.container{
    font: 1.2em sans-serif;
}
#chartContainer{
    margin-top: 5%;
}
.container2{
    font: 1.2em sans-serif;
}
.nav-link{
    color: #81807C;
}
