
.pagination {
    display: inline-block;
}
		
.pagination a {
	color: white;
	float: left;
	padding: 8px 16px;
	text-decoration: none;
}

.pagination a.active {
    background-color: #4CAF50;
    color: white;
}
.pagination a:hover:not(.active) {background-color: #4CAF50;
}

	